.img-fluid{
  display: none;
}
body{
  background-color: #f4f4f4;
}
.card {
    border-radius:0;
    margin:10px auto;
}
.card-title {
	text-transform: uppercase;
	color: #4f92ff;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-text {
	margin-top:10px;
	margin-bottom: 10px;
}

.thebtn{
  background-color: #4f92ff;
  color: white;
  border-radius:8px !important;
  float: right;
}
.thebtn:hover{
  background-color: #4f92ff;
  color: white;
  border-radius: 5px;
}