body {
    background-color: #f4f4f4;
}

.form-control:focus {
    box-shadow: none;
    border-color: #4f92ff
}

.back:hover {
    color: #4f92ff;
    cursor: pointer
}

.labels {
    font-size: 11px
}



.thebtn{
    background-color: #4f92ff;
    color: white;
    border-radius:8px !important;
  }
  .thebtn:hover{
    background-color: #4f92ff;
    color: white;
    border-radius: 5px;
  }