*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

img {
  width: 100%;
  object-fit: cover;
  padding: 0.35em;
  border-radius: 0.6rem;
  min-height: 10rem;
}

body {
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  max-width: clamp(30rem, 100% - 2rem, 60rem);
  width: max(22.5rem, 100%);
  min-height: 100vh;
  margin-inline: auto;
}

.container__content--flow {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container__content--flow > * {
  flex-grow: 1;
  margin: 0 auto;
  flex-basis: calc((30rem - 100%) * 999);
  min-width: 15rem;
  max-width: 66.6666666667%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.2666666667);
  transition: all 400ms ease;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  border-radius: inherit;
  transition: opacity 300ms ease;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.2), 0 0.65em 0.85em rgba(0, 0, 0, 0.2), 0 0.96em 1.35em rgba(0, 0, 0, 0.1333333333);
}

.card:hover::before {
  opacity: 1;
}

.card h2 {
  padding-block: 1rem;
  text-align: center;
  color: #4f92ff;
  font-weight: bolder;
  font-size: 1.37rem;
}

.card > p {
  padding-block-end: 0.5rem;
  margin-inline: 0.5em;
  text-align: center;
}

.card:nth-child(odd) {
  flex: 1 1 25%;
}

.container__content--flow:hover .card:not(:hover) {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: none;
  opacity: 0.8;
}

.card:hover {
  scale: 1.05;
}

@media (max-width: 830px) {
  .card:nth-child(odd) {
    flex: 1 1;
  }
}