{% extends 'base.html' %}

{% block head %}
<style>

.cardbody-color{
  background-color: #fff;
}

a{
  text-decoration: none;
}
  
  .thebtn{
    background-color: #4f92ff;
    color: white;
    border-radius:8px !important;
  }
  .thebtn:hover{
    background-color: #4f92ff;
    color: white;
    border-radius: 5px;
  }
</style>
{% endblock %}
{% block content %}
{% if current_user.is_authenticated  and (current_user.role == 'Author' or current_user.role == 'Admin')  %}
<br><br><br><br>

<div class="container">
  <div class="row">
   
      <div class="card rounded-4" style="
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      background-color: #f8f9fa;
    ">
        <form class="card-body p-lg-5 rounded-4" style="background-color: #f8f9fa;" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            {{ form.hidden_tag() }}
            {{ form.image.label(class="form-label font-weight-bold text-uppercase") }}
            {{form.image(class="form-control my-2")}}
            </div>
          <div class="mb-3">
            {{ form.title.label(class="form-label font-weight-bold text-uppercase ") }}
            {{form.title(class="form-control my-2",placeholder="Title")}}
          </div>
          <div class="mb-3">
            {{ form.category.label(class="form-label font-weight-bold text-uppercase ") }}
            {{form.category(class="form-control my-2")}}
          </div>
          <div class="mb-3">
            {{ form.slug.label(class="form-label font-weight-bold text-uppercase ") }}
            {{form.slug(class="form-control my-2",placeholder="Slugs...")}}
          </div>
          <div class="mb-3">
            {{ form.content.label(class="form-label font-weight-bold text-uppercase ") }}
          {{form.content(class="form-control textfieldarea my-2",placeholder="Write here...")}}
          </div>
          <br>
          <center>
            {{form.submit(class="btn btn-primary thebtn" )}}
        </center>
        </form>
      </div>
    
  </div>
</div>

{{ ckeditor.load() }} {{ ckeditor.config(name='content', toolbar='full') }}
<br>
<br>

{% endif %}
{% endblock %}
