{% extends 'admin_base.html' %}
<br><br>
{% block content %}

<br>
<!-- ### users ### -->
<div class="card rounded-4">
    <div class="card-header rounded-4" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
        <h1 class="text-uppercase font-weight-bold text-center">Users</h1>
        </div>
    </div>
    
    <div class="card-body rounded-4">
        <p class="card-text">
        <div class="container">
            <div class="row">
                <div class="col rounded-4"  style="min-width: 14.125rem;" >
                    <table class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>About</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{user.id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.about_author}}</td>
                                    <td>{{user.role}}</td> 
                                    <td>
                                        <a href="{{url_for('admin_edit_user',id=user.id)}}" class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></a>
                                        <a onclick="return confirm('Are you sure you want to delete this user?');" href="{{url_for('admin_delete_user',id=user.id)}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                    </td>   
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>     
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<!-- ### posts ### -->
<div class="card rounded-4">
    <div class="card-header rounded-4" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
        <h1 class="text-uppercase font-weight-bold text-center">Posts</h1>
        </div>
    </div>
    
    <div class="card-body rounded-4">
        <p class="card-text">
        <div class="container">
            <div class="row">
                <div class="col rounded-4"  style="min-width: 14.125rem;" >
                    <table class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th>Post Id</th>
                                <th>Post Title</th>
                                <th>Author Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td>{{ post.id }}</td>
                                    <td>{{ post.title|truncate(30) }}</td>
                                    <td>{{ post.poster.name }}</td>
                                    <td>
                                        <a href="{{url_for('edit_post',id=post.id)}}" class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></a>
                                        <a onclick="return confirm('Are you sure you want to delete this post?');" href="{{url_for('delete_post',id=post.id)}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>      
                </div>
            </div>
        </div>

    </div>
</div>
<br>

<!-- ### messages ### -->
<div class="card rounded-4">
    <div class="card-header rounded-4" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
        <h1 class="text-uppercase font-weight-bold text-center">Messages</h1>
        </div>
    </div>
    
    <div class="card-body rounded-4">
        <p class="card-text">
        <div class="container">
            <div class="row">
                <div class="col rounded-4"  style="min-width: 14.125rem;" >
                    <table class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for msg in msg %}
                                <tr>
                                    <td>{{ msg.name }}</td>
                                    <td>{{ msg.email }}</td>
                                    <td>{{ msg.message|truncate(50) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>     
                </div>
            </div>
        </div>

    </div>
</div>
    


{% endblock %}