{% extends 'base.html' %} {% block head %}
<style>
  .img-fluid{
    display: none;
  }
    body {
  background-color: #FFFFFF;
}
.card {
  border-radius: 0;
  margin: 10px auto;
}
.card-title {
  text-transform: uppercase;
  color: #97B2FC;
}
.card-text {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  color: #000000;
}
a.btn, a.btn:visited {
  color: #333333;
}


</style>
{% endblock %} {% block content %}

<br> 


<div class="container">
    <div class="row" >
        {% for post in posts %}
    	<div class="card col-md-12 p-3 rounded-4">
    		<div class="row ">
    			<div class="col-md-4">
    				<img class="w-100" width="200" height="200" src="https://images.pexels.com/photos/14260474/pexels-photo-14260474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    			</div>
    			<div class="col-md-8">
    				<div class="card-block">
    					<h6 class="card-title" style="font-size: 2rem; font-weight: 600;">{{post.title}}</h6>
    					<p class="card-text text-justify">{{post.content|safe|truncate(500)}}</p>
    					<a href="{{url_for('postpage',id=post.id)}}" class="btn btn-primary float-end my-2" style=" color: white;">read more...</a>
    				</div>
    			</div>
    		</div>
    	</div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>
  $('p img').addClass('img-fluid');

</script>

<br>

 

{% endblock %}