{% extends 'base.html' %}

{% block head %}


<link rel="stylesheet" href="{{url_for('static',filename='css/editprofile.css')}}">
<style>
    .bg-grey {
        background-color: #f2f2f2;
        cursor: default;
        border: 1px solid #f2f2f2;
    }

    .bg-grey:focus {
        background-color: #f2f2f2;
        cursor: default;
        border: 1px solid #f2f2f2;
    }
    .thebtn{
    background-color: #4f92ff;
    color: white;
    border-radius:8px !important;
  }
  .thebtn:hover{
    background-color: #4f92ff;
    color: white;
    border-radius: 5px;
  }
</style>



{% endblock %}

{% block content %}
<br><br><br>

<div class="container rounded-4  mt-5 mb-5" style="background-color: #f8f9fa; box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
rgba(90, 125, 188, 0.05) 0px 0.25em 1em;" >
    <div class="row rounded-4" style="background-color: #f8f9fa;">

        <div class="col-md-4 border-right rounded-4" style="background-color: #f8f9fa;">

            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <div style="margin-left: -100%!important;">
                <a href="{{url_for('dashboard')}}">
                    <i class="fa-solid fa-circle-arrow-left"
                        style="font-size: 2rem; color: #4f92ff">
                    </i>
                </a>
                </div>
                {% if current_user.profile_pic %}
                <img id="img" class=" mt-5 img-thumbnail rounded-4" style="box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
                rgba(90, 125, 188, 0.05) 0px 0.25em 1em;" width="200px" height="200px"  
                    src="{{url_for('static', filename='images/profile_pic/'+ current_user.profile_pic)}}" alt="None">

                {% else %}
                <img id="img" class=" mt-5 img-thumbnail rounded-4" style="box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
                rgba(90, 125, 188, 0.05) 0px 0.25em 1em;" width="200px" height="200px" 
                    src="{{url_for('static', filename='images/profile_pic/default.jpg')}}" alt="None">
                {% endif %}
                <h3 class="font-weight-bolder my-3">{{user.first_name}} {{user.last_name}}</h3>
                <span> </span>
            </div>
        </div>
        <div class="col-md-7 border-right" style="background-color: #f8f9fa;">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            {{form.hidden_tag()}}
                            {{ form.profile_pic.label(class="labels",id="inpt") }}
                            {{form.profile_pic(class="form-control")}}
                        </div>
                        <div class="col-md-6">
                            {{ form.first_name.label(class="labels") }}

                            {% if user.first_name == "None" %}
                            {{form.first_name(class="form-control",placeholder="Enter First Name")}}
                            {% else %}
                            {{form.first_name(class="form-control",value=user.first_name,placeholder="Enter First Name")}}
                            {% endif %}

                        </div>
                        <div class="col-md-6">
                            {% if user.last_name == "None" %}
                            {{ form.last_name.label(class="labels") }}
                            {{form.last_name(class="form-control",placeholder="Enter Last Name")}}
                            {% else %}
                            {{ form.last_name.label(class="labels") }}
                            {{form.last_name(class="form-control",value=user.last_name,placeholder="Enter Last Name")}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-md-12">
                            <label class="labels">Email</label>
                            {{form.email(class="form-control bg-grey",value=user.email,readonly="True")}}

                        </div>

                        <div class="col-md-12">
                            {% if user.phone == "None" %}
                            {{ form.phone.label(class="labels") }}
                            {{form.phone(class="form-control phone",placeholder="Enter Mobile Number")}}
                            {% else %}
                            {{ form.phone.label(class="labels") }}
                            {{form.phone(class="form-control phone",value=user.phone,placeholder="Enter Mobile Number")}}
                            {% endif %}

                        </div>
                        <div class="col-md-12">
                            {% if user.about_author == "None" %}
                            {{ form.about_author.label(class="labels") }}
                            {{form.about_author(class="form-control",placeholder="About You")}}
                            {% else %}
                            {{ form.about_author.label(class="labels") }}
                            {{form.about_author(class="form-control",value=user.about_author,placeholder="About You")}}
                            {% endif %}
                        </div>
                    </div>

                    <div class="mt-5 text-center">
                        {{form.submit(class="btn btn-primary profile-button thebtn",value="Save Profile")}}
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</div>
</div>


<script>
    // change img when file input
    const img = document.getElementById('img');
    const inpt = document.getElementById('inpt');
    inpt.addEventListener('change', function () {
        img.src = URL.createObjectURL(this.files[0]);
    });

    // refresh img after input
    img.onload = function () {
        URL.revokeObjectURL(this.src);
    }

    //mobile number validator form class with max 10 numbers
    $('.phone').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');
    });


</script>


{% endblock %}