<footer class="footer-07"  style="background-color: #fff; box-shadow: 0 -4px 12px 0 rgb(0 0 0 / 5%)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading">
          <a href="#" class="logo" style="color: #4f92ff">pahadiGURU</a>
        </h2>
        <p class="menu">
          <a href="{{url_for('home')}}" style="color: #00000080">Home</a>
          <a href="{{url_for('authors')}}" style="color: #00000080">Authors</a>
          <a href="{{url_for('about')}}" style="color: #00000080">About</a>
          <a href="{{url_for('contact')}}" style="color: #00000080">Contact</a>
        </p>
        <ul class="ftco-footer-social p-0">
          <li class="ftco-animate">
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Twitter"
              ><span class="fa-brands fa-twitter" style="color: #4f92ff"></span
            ></a>
          </li>
          <li class="ftco-animate">
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Facebook"
              ><span class="fa-brands fa-facebook" style="color: #4f92ff"></span
            ></a>
          </li>
          <li class="ftco-animate">
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Instagram"
              ><span
                class="fa-brands fa-instagram"
                style="color: #4f92ff"
              ></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <p class="copyright" style="color: #00000080">
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
