

{% extends 'base.html' %}

{% block head %}
<style>

body{
background:#f4f4f4;
}
.img-thumbnail{
    border:0px;    
}
.input-lg, .alert {border-radius:8px !important;}

.thebtn{
  background-color: #4f92ff;
  color: white;
  border-radius:8px !important;
}
.thebtn:hover{
  background-color: #4f92ff;
  color: white;
  border-radius: 5px;
}
</style>
{% endblock %}
{% block content %}
<br><br>

<!-- <div id="auto-fade">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% else %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {% endif %}
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
</div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div> -->

<br>
<div class="container bootstrap snippets bootdey">
  <div class="row">
      <div class="row">
          <div class="col">
              <div class="text-center">
                {% if current_user.profile_pic %}
                    <img src="{{url_for('static', filename='images/profile_pic/'+ current_user.profile_pic)}}" 
                    width="180" class="img-thumbnail rounded-circle logo img-circle mt-2">

                    {% else %}
                    <img src="{{url_for('static', filename='images/profile_pic/default.jpg')}}"  width="180" class="img-thumbnail rounded-circle logo img-circle mt-2">
                    {% endif %}
                  <div>
                      <h3 class="text-center mt-2 text-muted">Forgot password?</h3>
                  </div>
                  <div class="panel-body">
                        <form class="p-lg-5 rounded-4 w-50" style="margin: auto;" method="POST">
                          <div class="mb-3">
                            {{ form.hidden_tag() }}
                            {{ form.email.label(class="form-label font-weight-bolder text-uppercase ") }}
                            {{form.email(class="form-control my-2",placeholder="Enter registered email...")}}
                          </div>
                          <br>
                          <center>
                            {{form.submit(class="btn btn-primary thebtn" )}}
                        </center>
                        </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<script>
  // press x button after 3 seconds
  setTimeout(function() {
    document.getElementById("auto-fade").style.display = "none";
  }, 2000);
</script>

<br><br>
{% endblock %}


