

{% extends 'base2.html' %}

{% block head %}
<style>

.cardbody-color{
  background-color: #fff;
}

a{
  text-decoration: none;
}
</style>
{% endblock %}
{% block content %}
<br><br>

<div id="auto-fade">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% else %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {% endif %}
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
</div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>

<br>
<div class="container">
  <div class="row">
   
      <div class="card my-1 rounded-4">
        <form class="card-body cardbody-color p-lg-5 rounded-4" method="POST">
          <div class="mb-3">
            {{ form.hidden_tag() }}
            {{ form.email.label(class="form-label font-weight-bold text-uppercase ") }}
            {{form.email(class="form-control my-2",placeholder="Email")}}
          </div>
          <br>
          <center>
            {{form.submit(class="btn btn-primary" )}}
        </center>
        </form>
      </div>
    
  </div>
</div>

<script>
  // press x button after 3 seconds
  setTimeout(function() {
    document.getElementById("auto-fade").style.display = "none";
  }, 2000);
</script>

<br><br>
{% endblock %}
