{% extends 'base.html' %} {% block head %}

<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}" />

<style>
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: inherit;
    text-decoration: none;
  }
</style>

{% endblock %} {% block content %}

<br /><br /><br /><br />

<div class="container container__content--flow">
  <a class="card" href="{{url_for('allposts',category='Uttarakhand History')}}"
    ><div class="card" style="background-color: #f8f9fa">
      <img src="https://picsum.photos/id/20/600/300" loading="lazy" />
      <h2>Uttarakhand History</h2>
      <p>
        Temples, Monuments, Forts, Palaces, Museums, and other historical. Want to know more about Uttarakhand History? Click here.
      </p>
    </div></a
  >

  <a
    href=" {{url_for('allposts',category='Uttarakhand Geography')}}"
    class="card"
    ><div class="card" style="background-color: #f8f9fa">
      <img src="https://picsum.photos/id/40/600/300" loading="lazy" />
      <h2>Uttarakhand Geography</h2>
      <p>
        Mountains, Rivers and more. Want to know more about Uttarakhand Geography? Click here.
      </p>
    </div></a
  >

  <a href="{{url_for('allposts',category='Uttarakhand Current')}}" class="card"
    ><div class="card" style="background-color: #f8f9fa">
      <img src="https://picsum.photos/id/60/600/300" loading="lazy" />
      <h2>Uttarakhand Current</h2>
      <p>
        What's happening in Uttarakhand? Want to know more about Uttarakhand Current? Click here.
      </p>
    </div></a
  >

  <a href="{{url_for('allposts',category='Indian History')}}" class="card"
    ><div class="card" style="background-color: #f8f9fa">
      <img src="https://picsum.photos/id/80/600/300" loading="lazy" />
      <h2>Indian History</h2>
      <p>
        Indian History is very vast. Want to know more about Indian History? Click here.
      </p>
    </div></a
  >

  <a href="{{url_for('allposts',category='Indian Geography')}}" class="card"
    ><div class="card" style="background-color: #f8f9fa">
      <img src="https://picsum.photos/id/100/600/300" loading="lazy" />
      <h2>Indian Geography</h2>
      <p>
        Indian Mountains, Rivers and more. Want to know more about Indian Geography? Click here.
      </p>
    </div></a
  >

  <a href="{{url_for('allposts',category='Indian Current')}}" class="card"
    ><div class="card" style="background-color: #f8f9fa">
      <img src="https://picsum.photos/id/120/600/300" loading="lazy" />
      <h2>Indian Current</h2>
      <p>
        Want latest news about India? Want to know more about Indian Current? Click here.
      </p>
    </div></a
  >
</div>
<br><br>

{% endblock %}
