{% extends 'base.html' %} {% block head %}

<style>
  .img-fluid{
    display: none;
  }
  a {
    color:#000000bb;
    margin-bottom: 0%!important;
    font-size: 1.4rem;
  }

  a:hover {
    color: inherit;
  }
</style>

{% endblock %} {% block content %}

<div id="auto-fade">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% else %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {% endif %}
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
</div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>

<br /><br>


<!-- uttarakhand history -->
<div class="container-sm">
  <div class="news-card-box" >
    <div class="news-top-bar undefined" style="background: #63d3f8">
      <div class="news-title-left undefined">
        <span>UTTARAKHAND HISTORY</span>
      </div>
    </div>
    <div class="news-card-body" >
      <div class="headline-wrap">
        <div class="row-cols-1 row-cols-xl-3 row-modify-15 big-card-box row">
          
          <div class="col-xl-12">
          
            <div class="headline-box">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a
                    class="headline-thumb"
                    href="{{url_for('postpage',id=historyPosts[0].id)}}"
                    ><img
                    src="https://images.pexels.com/photos/10183991/pexels-photo-10183991.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="fcb-stadium-campnau"
                  /></a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row"><label>{{historyPosts[0].title|truncate(50)}}</label></div>
                    <h3>
                      <a
                        href="{{url_for('postpage',id=historyPosts[0].id)}}"
                        >{{historyPosts[0].content|safe|truncate(500)}}
                      </a>
                    </h3>
                  </div>
                </div>
                <ul class="headline-footer">
                  <li>
                    <div><span class="pre-span text-muted">Posted on: {{historyPosts[0].date_added}}</span></div>
                  </li>
                  <li class="like-item">
                    
                    <div>
                      <i
                        class="fa-regular fa-share-nodes px-1"
                        role="button"
                        aria-label="Share Button"
                        style="font-weight: 600"
                      ></i>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="sc-hLBbgP hjrBgz"></div>
            </div>
            
            
          </div>
        </div>
        <br>
        <!-- small cards 1 -->
        <div class="row-cols-1 row-cols-lg-2 row-cols-md-2 row-modify-15 row">
          <div class="col">
            
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a
                    class="headline-thumb"
                    href="{{url_for('postpage',id=historyPosts[1].id)}}"
                    ><img
                      alt="mp sehore bjp mla karan singh viral video"
                      src="https://images.pexels.com/photos/8020071/pexels-photo-8020071.jpeg?auto=compress&cs=tinysrgb&w=600"
                  /></a>
              
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row"><label>{{historyPosts[1].title|truncate(20)}}</label></div>
                    <h3>
                      <a
                        href="{{url_for('postpage',id=historyPosts[1].id)}}"
                        >{{historyPosts[1].content|safe|truncate(100)}}</a
                      >
                    </h3>
                  </div>
                </div>
                <ul class="headline-footer">
                  <li>
                    <div><span class="pre-span text-muted">Posted on: {{historyPosts[1].date_added}}</span></div>
                  </li>
                  <li class="like-item">
                    <div>
                      <i
                        class="fa-regular fa-share-nodes px-1"
                        role="button"
                        aria-label="Share Button"
                        style="font-weight: 600"
                      ></i>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="sc-hLBbgP hjrBgz"></div>
            </div>
          </div>
          <!-- small cards 2 -->
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a
                    class="headline-thumb"
                    href="{{url_for('postpage',id=historyPosts[1].id)}}"
                    ><img
                      alt="mp sehore bjp mla karan singh viral video"
                      src="https://images.pexels.com/photos/8020071/pexels-photo-8020071.jpeg?auto=compress&cs=tinysrgb&w=600"
                  /></a>
              
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row"><label>{{historyPosts[2].title|truncate(20)}}</label></div>
                    <h3>
                      <a
                        href="{{url_for('postpage',id=historyPosts[1].id)}}"
                        >{{historyPosts[2].content|safe|truncate(100)}}</a
                      >
                    </h3>
                  </div>
                </div>
                <ul class="headline-footer">
                  <li>
                    <div><span class="pre-span text-muted">Posted on: {{historyPosts[2].date_added}}</span></div>
                  </li>
                  <li class="like-item">
                    <div>
                      <i
                        class="fa-regular fa-share-nodes px-1"
                        role="button"
                        aria-label="Share Button"
                        style="font-weight: 600"
                      ></i>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="sc-hLBbgP hjrBgz"></div>
            </div>
          </div>
          <!-- small cards 3 -->
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a
                    class="headline-thumb"
                    href="{{url_for('postpage',id=historyPosts[1].id)}}"
                    ><img
                      alt="mp sehore bjp mla karan singh viral video"
                      src="https://images.pexels.com/photos/8020071/pexels-photo-8020071.jpeg?auto=compress&cs=tinysrgb&w=600"
                  /></a>
              
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row"><label>{{historyPosts[3].title|truncate(20)}}</label></div>
                    <h3>
                      <a
                        href="{{url_for('postpage',id=historyPosts[1].id)}}"
                        >{{historyPosts[3].content|safe|truncate(100)}}</a
                      >
                    </h3>
                  </div>
                </div>
                <ul class="headline-footer">
                  <li>
                    <div><span class="pre-span text-muted">Posted on: {{historyPosts[3].date_added}}</span></div>
                  </li>
                  <li class="like-item">
                    <div>
                      <i
                        class="fa-regular fa-share-nodes px-1"
                        role="button"
                        aria-label="Share Button"
                        style="font-weight: 600"
                      ></i>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="sc-hLBbgP hjrBgz"></div>
            </div>
          </div>
          <!-- small cards 4 -->
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a
                    class="headline-thumb"
                    href="{{url_for('postpage',id=historyPosts[1].id)}}"
                    ><img
                      alt="mp sehore bjp mla karan singh viral video"
                      src="https://images.pexels.com/photos/8020071/pexels-photo-8020071.jpeg?auto=compress&cs=tinysrgb&w=600"
                  /></a>
              
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row"><label>{{historyPosts[4].title|truncate(20)}}</label></div>
                    <h3>
                      <a
                        href="{{url_for('postpage',id=historyPosts[1].id)}}"
                        >{{historyPosts[4].content|safe|truncate(100)}}</a
                      >
                    </h3>
                  </div>
                </div>
                <ul class="headline-footer">
                  <li>
                    <div><span class="pre-span text-muted">Posted on: {{historyPosts[4].date_added}}</span></div>
                  </li>
                  <li class="like-item">
                                  <div>
                      <i
                        class="fa-regular fa-share-nodes px-1"
                        role="button"
                        aria-label="Share Button"
                        style="font-weight: 600"
                      ></i>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="sc-hLBbgP hjrBgz"></div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<!-- end of post -->


<!-- ############################################################################################ -->











<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>
  $('p img').addClass('img-fluid');

</script>


{% endblock %}
