{% extends 'base.html' %} {% block head %}

<style>
  .img-fluid{
    display: none;
  }
  a {
    color: inherit;
  }

  a:hover {
    color: inherit;
  }
</style>

{% endblock %} {% block content %}

<div id="auto-fade">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% else %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {% endif %}
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
</div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>

<br /><br>


<!-- uttarakhand history -->
<div class="container-sm">
  <div class="news-card-box" >
    <div class="news-top-bar undefined" style="background: #63d3f8">
      <div class="news-title-left undefined">
        <span>UTTARAKHAND HISTORY</span>
      </div>
    </div>
    <div class="news-card-body" >
      <div class="headline-wrap">
        <div class="row-cols-1 row-cols-xl-3 row-modify-15 big-card-box row">
          
          <div class="col-xl-12">
          
              <div class="headline-box">
                <a href="">
                  <div class="headline-left-col">
                    <div class="headline-pic-box">
                    <a href="{{url_for('postpage',id=historyPosts[0].id)}}">
                        <img
                        class="w-100" width="200" height="200"
                          src="https://images.pexels.com/photos/10183991/pexels-photo-10183991.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                          alt="fcb-stadium-campnau"
                      />
                    </a>
                    </div>
                  </div>
                  <div class="headline-right-col">
                    <div class="headline-body">
                      <div class="headline-info">

                        <div class="series-row">
                          <label>{{historyPosts[0].title|truncate(20)}}</label>
                        </div>
              
                        <a href="{{url_for('postpage',id=historyPosts[0].id)}}">
                        <p>
                          
                          {{historyPosts[0].content|safe|truncate(500)}}
                          
                        </p>
                      </a>
                      </div>
                    </div>
                  </div>
              </div>
            
          </div>
        </div>
        <br>
        <!-- small cards -->
        <div class="row-cols-1 row-cols-lg-2 row-cols-md-2 row-modify-15 row">
          <div class="col">
            
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=historyPosts[1].id)}}"
                    class="headline-thumb"
                    ><img
                      class="w-100" width="200" height="200"
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{historyPosts[1].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=historyPosts[1].id)}}">
                    <p>
                      
                      {{historyPosts[1].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=historyPosts[2].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{historyPosts[2].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=historyPosts[2].id)}}">
                    <p>
                      
                      {{historyPosts[2].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=historyPosts[3].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{historyPosts[3].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=historyPosts[3].id)}}">
                    <p>
                      
                      {{historyPosts[3].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=historyPosts[4].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{historyPosts[4].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=historyPosts[4].id)}}">
                    <p>
                      
                      {{historyPosts[4].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<!-- end of post -->


<!-- ############################################################################################ -->

<!-- uttarakhand geography -->
<div class="container-sm">
  <div class="news-card-box" >
    <div class="news-top-bar undefined" style="background: #cb63f8">
      <div class="news-title-left undefined">
        <span>UTTARAKHAND GEOGRAPHY</span>
      </div>
    </div>
    <div class="news-card-body" >
      <div class="headline-wrap">
        <div class="row-cols-1 row-cols-xl-3 row-modify-15 big-card-box row">
          
          <div class="col-xl-12">
          
              <div class="headline-box">
                <a href="">
                  <div class="headline-left-col">
                    <div class="headline-pic-box">
                    <a href="{{url_for('postpage',id=geographyPosts[0].id)}}">
                        <img
                        class="w-100" width="200" height="200"
                          src="https://images.pexels.com/photos/10183991/pexels-photo-10183991.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                          alt="fcb-stadium-campnau"
                      />
                    </a>
                    </div>
                  </div>
                  <div class="headline-right-col">
                    <div class="headline-body">
                      <div class="headline-info">

                        <div class="series-row">
                          <label>{{geographyPosts[0].title|truncate(20)}}</label>
                        </div>
              
                        <a href="{{url_for('postpage',id=geographyPosts[0].id)}}">
                        <p>
                          
                          {{geographyPosts[0].content|safe|truncate(500)}}
                          
                        </p>
                      </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- small cards -->
        <div class="row-cols-1 row-cols-lg-2 row-cols-md-2 row-modify-15 row">
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=geographyPosts[1].id)}}"
                    class="headline-thumb"
                    ><img
                      class="w-100" width="200" height="200"
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{geographyPosts[1].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=geographyPosts[1].id)}}">
                    <p>
                      
                      {{geographyPosts[1].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=geographyPosts[2].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{geographyPosts[2].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=geographyPosts[2].id)}}">
                    <p>
                      
                      {{geographyPosts[2].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=geographyPosts[3].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{geographyPosts[3].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=geographyPosts[3].id)}}">
                    <p>
                      
                      {{geographyPosts[3].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=geographyPosts[4].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{geographyPosts[4].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=geographyPosts[4].id)}}">
                    <p>
                      
                      {{geographyPosts[4].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<!-- end of post -->


<!-- ############################################################################################ -->

<!-- uttarakhand current -->
<div class="container-sm ml-0">
  <div class="news-card-box" >
    <div class="news-top-bar undefined" style="background: #63f86a">
      <div class="news-title-left undefined">
        <span>UTTARAKHAND CURRENT</span>
      </div>
    </div>
    <div class="news-card-body" >
      <div class="headline-wrap">
        <div class="row-cols-1 row-cols-xl-3 row-modify-15 big-card-box row">
          
          <div class="col-xl-12">
          
              <div class="headline-box">
                <a href="">
                  <div class="headline-left-col">
                    <div class="headline-pic-box">
                    <a href="{{url_for('postpage',id=currentPosts[0].id)}}">
                        <img
                        class="w-100" width="200" height="200"
                          src="https://images.pexels.com/photos/10183991/pexels-photo-10183991.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                          alt="fcb-stadium-campnau"
                      />
                    </a>
                    </div>
                  </div>
                  <div class="headline-right-col">
                    <div class="headline-body">
                      <div class="headline-info">

                        <div class="series-row">
                          <label>{{currentPosts[0].title|truncate(20)}}</label>
                        </div>
              
                        <a href="{{url_for('postpage',id=currentPosts[0].id)}}">
                        <p>
                          
                          {{currentPosts[0].content|safe|truncate(500)}}
                          
                        </p>
                      </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- small cards -->
        <div class="row-cols-1 row-cols-lg-2 row-cols-md-2 row-modify-15 row">
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=currentPosts[1].id)}}"
                    class="headline-thumb"
                    ><img
                      class="w-100" width="200" height="200"
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{currentPosts[1].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=currentPosts[1].id)}}">
                    <p>
                      
                      {{currentPosts[1].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=currentPosts[2].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{currentPosts[2].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=currentPosts[2].id)}}">
                    <p>
                      
                      {{currentPosts[2].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=currentPosts[3].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{currentPosts[3].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=currentPosts[3].id)}}">
                    <p>
                      
                      {{currentPosts[3].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=currentPosts[4].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{currentPosts[4].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=currentPosts[4].id)}}">
                    <p>
                      
                      {{currentPosts[4].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<!-- end of post -->

<!-- ############################################################################################ -->

<!-- India history -->
<div class="container-sm ml-0">
  <div class="news-card-box" >
    <div class="news-top-bar undefined" style="background: #f88363">
      <div class="news-title-left undefined">
        <span>INDIA HISTORY</span>
      </div>
    </div>
    <div class="news-card-body" >
      <div class="headline-wrap">
        <div class="row-cols-1 row-cols-xl-3 row-modify-15 big-card-box row">
          
          <div class="col-xl-12">
          
              <div class="headline-box">
                <a href="">
                  <div class="headline-left-col">
                    <div class="headline-pic-box">
                    <a href="{{url_for('postpage',id=IndhistoryPosts[0].id)}}">
                        <img
                        class="w-100" width="200" height="200"
                          src="https://images.pexels.com/photos/10183991/pexels-photo-10183991.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                          alt="fcb-stadium-campnau"
                      />
                    </a>
                    </div>
                  </div>
                  <div class="headline-right-col">
                    <div class="headline-body">
                      <div class="headline-info">

                        <div class="series-row">
                          <label>{{IndhistoryPosts[0].title|truncate(20)}}</label>
                        </div>
              
                        <a href="{{url_for('postpage',id=IndhistoryPosts[0].id)}}">
                        <p>
                          
                          {{IndhistoryPosts[0].content|safe|truncate(500)}}
                          
                        </p>
                      </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- small cards -->
        <div class="row-cols-1 row-cols-lg-2 row-cols-md-2 row-modify-15 row">
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndhistoryPosts[1].id)}}"
                    class="headline-thumb"
                    ><img
                      class="w-100" width="200" height="200"
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndhistoryPosts[1].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndhistoryPosts[1].id)}}">
                    <p>
                      
                      {{IndhistoryPosts[1].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndhistoryPosts[2].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndhistoryPosts[2].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndhistoryPosts[2].id)}}">
                    <p>
                      
                      {{IndhistoryPosts[2].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndhistoryPosts[3].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndhistoryPosts[3].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndhistoryPosts[3].id)}}">
                    <p>
                      
                      {{IndhistoryPosts[3].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndhistoryPosts[4].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndhistoryPosts[4].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndhistoryPosts[4].id)}}">
                    <p>
                      
                      {{IndhistoryPosts[4].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<!-- end of post -->

<!-- ############################################################################################ -->

<!-- India Geography -->
<div class="container-sm ml-0">
  <div class="news-card-box" >
    <div class="news-top-bar undefined" style="background: #f86395">
      <div class="news-title-left undefined">
        <span>INDIA GEOGRAPHY</span>
      </div>
    </div>
    <div class="news-card-body" >
      <div class="headline-wrap">
        <div class="row-cols-1 row-cols-xl-3 row-modify-15 big-card-box row">
          
          <div class="col-xl-12">
          
              <div class="headline-box">
                <a href="">
                  <div class="headline-left-col">
                    <div class="headline-pic-box">
                    <a href="{{url_for('postpage',id=IndgeographyPosts[0].id)}}">
                        <img
                        class="w-100" width="200" height="200"
                          src="https://images.pexels.com/photos/10183991/pexels-photo-10183991.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                          alt="fcb-stadium-campnau"
                      />
                    </a>
                    </div>
                  </div>
                  <div class="headline-right-col">
                    <div class="headline-body">
                      <div class="headline-info">

                        <div class="series-row">
                          <label>{{IndgeographyPosts[0].title|truncate(20)}}</label>
                        </div>
              
                        <a href="{{url_for('postpage',id=IndgeographyPosts[0].id)}}">
                        <p>
                          
                          {{IndgeographyPosts[0].content|safe|truncate(500)}}
                          
                        </p>
                      </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- small cards -->
        <div class="row-cols-1 row-cols-lg-2 row-cols-md-2 row-modify-15 row">
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndgeographyPosts[1].id)}}"
                    class="headline-thumb"
                    ><img
                      class="w-100" width="200" height="200"
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndgeographyPosts[1].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndgeographyPosts[1].id)}}">
                    <p>
                      
                      {{IndgeographyPosts[1].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndgeographyPosts[2].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndgeographyPosts[2].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndgeographyPosts[2].id)}}">
                    <p>
                      
                      {{IndgeographyPosts[2].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndgeographyPosts[3].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndgeographyPosts[3].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndgeographyPosts[3].id)}}">
                    <p>
                      
                      {{IndgeographyPosts[3].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndgeographyPosts[4].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndgeographyPosts[4].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndgeographyPosts[4].id)}}">
                    <p>
                      
                      {{IndgeographyPosts[4].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<!-- end of post -->


<!-- ############################################################################################ -->

<!-- India Current -->
<div class="container-sm ml-0">
  <div class="news-card-box" >
    <div class="news-top-bar undefined" style="background: #949644">
      <div class="news-title-left undefined">
        <span>INDIA CURRENT</span>
      </div>
    </div>
    <div class="news-card-body" >
      <div class="headline-wrap">
        <div class="row-cols-1 row-cols-xl-3 row-modify-15 big-card-box row">
          
          <div class="col-xl-12">
          
              <div class="headline-box">
                <a href="">
                  <div class="headline-left-col">
                    <div class="headline-pic-box">
                    <a href="{{url_for('postpage',id=IndcurrentsPosts[0].id)}}">
                        <img
                        class="w-100" width="200" height="200"
                          src="https://images.pexels.com/photos/10183991/pexels-photo-10183991.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                          alt="fcb-stadium-campnau"
                      />
                    </a>
                    </div>
                  </div>
                  <div class="headline-right-col">
                    <div class="headline-body">
                      <div class="headline-info">

                        <div class="series-row">
                          <label>{{IndcurrentsPosts[0].title|truncate(20)}}</label>
                        </div>
              
                        <a href="{{url_for('postpage',id=IndcurrentsPosts[0].id)}}">
                        <p>
                          
                          {{IndcurrentsPosts[0].content|safe|truncate(500)}}
                          
                        </p>
                      </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- small cards -->
        <div class="row-cols-1 row-cols-lg-2 row-cols-md-2 row-modify-15 row">
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndcurrentsPosts[1].id)}}"
                    class="headline-thumb"
                    ><img
                      class="w-100" width="200" height="200"
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndcurrentsPosts[1].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndcurrentsPosts[1].id)}}">
                    <p>
                      
                      {{IndcurrentsPosts[1].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndcurrentsPosts[2].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndcurrentsPosts[2].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndcurrentsPosts[2].id)}}">
                    <p>
                      
                      {{IndcurrentsPosts[2].content|safe|truncate(100)}}
                      
                    </p>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndcurrentsPosts[3].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndcurrentsPosts[3].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndcurrentsPosts[3].id)}}">
                    <p>
                      
                      {{IndcurrentsPosts[3].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="headline-box-sm">
              <div class="headline-left-col">
                <div class="headline-pic-box">
                  <a href="{{url_for('postpage',id=IndcurrentsPosts[4].id)}}"
                    class="headline-thumb"
                    ><img
                      src="https://images.pexels.com/photos/10225549/pexels-photo-10225549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    />
                  </a>
                </div>
              </div>
              <div class="headline-right-col">
                <div class="headline-body">
                  <div class="headline-info">
                    <div class="series-row">
                      <label>{{IndcurrentsPosts[4].title|truncate(20)}}</label>
                    </div>
                    <a href="{{url_for('postpage',id=IndcurrentsPosts[4].id)}}">
                    <p>
                      
                      {{IndcurrentsPosts[4].content|safe|truncate(100)}}
                      
                    </p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>
<!-- end of post -->








<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>
  $('p img').addClass('img-fluid');

</script>


{% endblock %}
