{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
<script  src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" ></script>


        

{% endblock %}

{% block content %}
<br>
<br><br>

<div class="body">
    <div class="veen rounded-4">
        <div class="login-btn splits">
            <p style="color: black;">Already an user?</p>
            <button class="active">Login</button>
        </div>
        <div class="rgstr-btn splits">
            <p style="color: black;">Don't have an account?</p>
            <button>Register</button>
        </div>
        <div class="wrapper rounded-4">
            <form id="login" tabindex="500" action="/login" method="post">
                <h3 style="font-weight: 600;">LOGIN</h3>
                <div class="mail">
                    
                    {{form.hidden_tag()}}

                    {{form.email}}
                    {{form.email.label}}
                </div>
                <div class="passwd">
                    {{form.password}}
                    {{form.password.label}}
                </div>
                <div class="submit">
                    {{form.submit(class="dark css")}}
                </div>
                <div class="name">
                    <a style="text-decoration: none; color: #4f92ff;" href="{{url_for('forgotpassword')}}">Forgot Password</a>
                </div>


            </form>

            <!-- register form -->
            <br>
            
            <form id="register" tabindex="502" method="post" action="/login">
                <br><br>
                <h3 style="font-weight: 600;">REGISTER</h3>
                    {{form2.hidden_tag()}}
                <div class="first_name">
                    {{form2.first_name}}
                    {{form2.first_name.label}}
                </div>
                <div class="last_name">
                    {{form2.last_name}}
                    {{form2.last_name.label}}
                </div>      
                <div class="mail">
                    {{form2.email(class='e-mail')}}
                    <label>E-Mail Id</label>
                </div>
                <div class="passwd">
                    {{form2.password_hash(class='password')}}
                    <label>Password</label>
                </div>
                <div class="uid">
                    {{form2.security_question}}
                    <label>Security Question</label>
                </div>
                <div class="passwd">
                    {{form2.security_answer}}
                    <label>Security Answer</label>
                </div>
                <div class="submit">
                    {{form2.submit(class="dark css" )}}
                </div>
            </form>
        </div>
    </div>	
</div>


<style type="text/css">
    .site-link{
        padding: 5px 15px;
        position: fixed;
        z-index: 99999;
        background: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
        right: 30px;
        bottom: 30px;
        border-radius: 10px;
    }
    .site-link img{
        width: 30px;
        height: 30px;
    }
</style>

<script>
	$(document).ready(function(){
			$(".veen .rgstr-btn button").click(function(){
				$('.veen .wrapper').addClass('move');
				$('.body').css('background','#f8f8fa');
				$(".veen .login-btn button").removeClass('active');
				$(this).addClass('active');

			});
			$(".veen .login-btn button").click(function(){
				$('.veen .wrapper').removeClass('move');
				$('.body').css('background','#f8f8fa');
				$(".veen .rgstr-btn button").removeClass('active');
				$(this).addClass('active');
			});
		});

        // email validator on id
        $('.e-mail').on('keyup', function(){
            var email = $(this).val();
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            if( !emailReg.test( email ) ) {
                $(this).css('border', '1px solid red');
            } else {
                $(this).css('border', '1px solid green');
            }
        });

        // password validator on id
        $('.password').on('keyup', function(){
            var password = $(this).val();
            var passwordReg = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
            if( !passwordReg.test( password ) ) {
                $(this).css('border', '1px solid red');
            } else {
                $(this).css('border', '1px solid green');
            }
        });

        

        
        

</script>

{% endblock %}


