<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #fff; box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);"
>
  <div class="container-fluid">
    <a
      class="navbar-brand"
      href="{{url_for('home')}}"
      style="color: #4f92ff; font-weight: bolder; font-size: 25px"
      >BLOG</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown pl-4">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            UTTARAKHAND
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" style="color: #00000080" href="{{url_for('allposts',category='Uttarakhand History')}}">History</a></li>
            <li>
              <a class="dropdown-item" style="color: #00000080" href="{{url_for('allposts',category='Uttarakhand Geography')}}"
                >Geography</a
              >
            </li>
            <li><a class="dropdown-item" style="color: #00000080" href="{{url_for('allposts',category='Uttarakhand Current')}}">Currents</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown pl-4">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            INDIA
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" style="color: #00000080" href="{{url_for('allposts',category='India History')}}">History</a></li>
            <li><a class="dropdown-item" style="color: #00000080" href="{{url_for('allposts',category='India Geography')}}">Geography</a></li>
            <li><a class="dropdown-item" style="color: #00000080" href="{{url_for('allposts',category='India Current')}}">Currents</a></li>
          </ul>
        </li>
        <li class="nav-item pl-4">
          <a class="nav-link" href="{{url_for('allposts',category='Computer')}}"> COMPUTER</a>
      </li>
        <li class="nav-item pl-4">
          <a class="nav-link" href="{{url_for('allposts',category='Hindi')}}"> HINDI</a>
      </li>
        
      

        {% if current_user.is_authenticated %}
        <li class="nav-item pl-4">
            <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
        </li>
        {% endif %}
        

        {% if current_user.is_authenticated and (current_user.role == 'Author' or current_user.role == 'Admin') %}
        <li class="nav-item pl-4">
          <a class="nav-link" href="{{url_for('addpost')}}">Add Post</a>
        </li>
        {% endif %}

       
        
        

      </ul>
        <form class="searchbar pr-4">
          <input
            type="search"
            placeholder="Search here"
            name="search"
            class="searchbar-input"
            onkeyup="buttonUp();"
            required
          />
          <input type="submit" class="searchbar-submit" value=""/>
          <span class="searchbar-icon pr-4"
            ><i class="fa fa-search" aria-hidden="true" style="color: #00000080;"></i
          ></span>
        </form>

        {% if current_user.is_authenticated %}
        <li class="nav-item pl-4" style="text-align: center; list-style: none;  margin-right: 5px;">
          <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
        {% endif %}

        {% if not current_user.is_authenticated %}
        <li class="nav-item pl-4" style="text-align: center; list-style: none; margin-right: 5px;">
          <a class="nav-link" href="{{url_for('login')}}">Login</a>
        </li>
        {% endif %}

    </div>
  </div>
</nav>
