{% extends 'base.html' %}
{% block head %}
<style>
  .likebtn{
    width: 5px;
    font-size: 3rem;
    color: #4f92ff;
    display: inline-block;
  }
  .viewbtn{
    width: 5px;
    font-size: 3rem;
    color: #4f92ff;
  }
  .sharebtn{
    width: 5px;
    font-size: 3rem;
    color: #4f92ff;
  }
  .likebtn:hover{
    color: #4f92ff!important;
  }
  .posttxt{
    margin-left: 2px;
  }

 
</style>
{% endblock %}
{% block content %}


<div class="card mt-5 ml-4 rounded-4">
  <div class="card-body rounded-4">
    <h5 class="card-title font-weight-bold ml-4" style="font-size: 4rem;">{{posts.title|upper}}</h5>
    
  </div>
  <img src="\static\images\kedar.jpg"  height="450">
  <br>
  <br>

  <div class="d-flex">
    <div class="flex-shrink-0 ml-4">
        <img src="\static\images\user.png" class="w-100" width="80" height="80">
    </div>
    
    
    <div class="flex-grow-1 ml-4  my-2">
      <h5>{{posts.poster.name}}</h5>
        <small class="text-muted"><i>Posted on: {{posts.date_added}}</i></small>

    </div>
  </div>
  
  <br>

    <p style="margin: 0 2rem!important;">{{posts.content|safe}}</p>

    <br>


    
    
    <div style="display: flex; align-items: center; justify-content: right; float: right; padding-right: 10px;" >
    
          <div style="display: flex; align-items: center; justify-content: center;">
            <a style="color: #4f92ff;" ><i style="font-size: x-large; padding: 0;" class="fa fa-eye"></i></a>
            <span style="padding: 0.5rem;">{{view_count}}</span>

          </div>

    
          <div style="display: flex; align-items: center; justify-content: center;">
            {% if current_user.is_authenticated %}
              {% if current_user.id in all_like  %}
              <a href="{{url_for('like',id=posts.id)}}"><i style="font-size: x-large; padding: 0;" class="fa-solid fa-heart"></i></a>

              {% else %}
              <a href="{{url_for('like',id=posts.id)}}"><i style="font-size: x-large; padding: 0;" class="fa-regular fa-heart"></i></a>
              {% endif %}
          
            {% else %}
            <a href="{{url_for('like',id=posts.id)}}"><i style="font-size: x-large; padding: 0;" class="fa-regular fa-heart"></i></a>
            {% endif %} 
            <span style="padding: 0.5rem;">{{posts.likes|length}}</span>
          
          </div>
    </div>
    

  
  
  

<br>









{% endblock %}
<!-- view_count -->
<!-- posts.likes|length -->