{% extends 'base.html' %}
{% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/allposts.css')}}"
/>
{% endblock %}
{% block content %}
<br><br><br>

<h1>All posts by {{user.first_name}}</h1>

<div class="container m-auto" style="width: 90vw;">
  <div class="row">
    
    {% for post in posts %}
  
    <div
      class="card col-md-12 p-3 rounded-4"
      style="
        background-color: #f8f9fa;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
          rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      "
      >
      <a href="{{url_for('postpage',slug=post.slug)}}" style="text-decoration: none; color: #000!important; text-align: justify;">
      <div class="row">
        <div class="col-md-4">
          <img
            class="w-100"
            height="200"
            src="{{url_for('static', filename='images/feature_photo/'+ post.image)}}"
          />
        </div>
        <div class="col-md-8 my-3">
          <div class="card-block">
            <h6 class="card-title">{{post.title}}</h6>
            <p class="card-text my-3">
              {{post.content|safe|truncate(300)}}
            </p>
          </div>
        </div>
      </div>
      </a>
    </div>
    <br>

    {% endfor %}
  </div>
  <br>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>
  $('p img').addClass('img-fluid');


</script>



{% endblock %}
