
{% extends 'base2.html' %}

{% block head %}
<style>

.cardbody-color{
  background-color: #fff;
}

a{
  text-decoration: none;
}
</style>
{% endblock %}
{% block content %}
<br><br>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card rounded-4">
        <form class="card-body cardbody-color p-lg-5 rounded-4" method="post">
          <div class="mb-3">
            {{form.hidden_tag()}}
            {{ form.name.label(class="form-label font-weight-bold text-uppercase") }}
            {{form.name(class="form-control")}}
          </div>
          <div class="mb-3">
            {{ form.username.label(class="form-label font-weight-bold text-uppercase") }}
            {{form.username(class="form-control")}}
          </div>
          <div class="mb-3">
            {{ form.phone.label(class="form-label font-weight-bold text-uppercase") }}
            {{form.phone(class="form-control")}}
          </div>
          <div class="mb-3">
            {{ form.email.label(class="form-label font-weight-bold text-uppercase") }}
            {{form.email(class="form-control")}}
          </div>
          <div class="mb-3">
            {{ form.about_author.label(class="form-label font-weight-bold text-uppercase") }}
            {{form.about_author(class="form-control")}}
          </div>
          <div class="mb-3">
            {{ form.security_question.label(class="form-label font-weight-bold text-uppercase ") }}
            {{form.security_question(class="form-control my-2")}}
          </div>
          <div class="mb-3">
            {{ form.security_answer.label(class="form-label font-weight-bold text-uppercase ") }}
            {{form.security_answer(class="form-control my-2")}}
          </div>
          <div class="mb-3">
            {{ form.password_hash.label(class="form-label font-weight-bold text-uppercase") }}
            {{form.password_hash(class="form-control")}}
          </div>
          <div class="mb-3">
            {{ form.password_hash2.label(class="form-label font-weight-bold text-uppercase") }}
            {{form.password_hash2(class="form-control")}}
          </div>
          <center>
            {{form.submit(class="btn btn-primary " )}}
        </center>
        </form>
        <div style="text-align: center; background-color: #fff;">
          <p>Already registerd?<a href="{{url_for('login')}}"> Login</a></p>
          
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>
{% endblock %}
