

{% extends 'base2.html' %}

{% block head %}
<style>

.cardbody-color{
  background-color: #fff;
}

a{
  text-decoration: none;
}
</style>
{% endblock %}
{% block content %}
<div id="auto-fade">
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% else %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {% endif %}
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
</div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>


<div class="container">
  <div class="row">
   
      <div class="card my-1 rounded-4">
        <form class="card-body cardbody-color p-lg-5 rounded-4" method="POST" action="/resetpassword">
          <div class="mb-3">
            {{ form.hidden_tag() }}
            {{ form.security_question.label(class="form-label font-weight-bold text-uppercase ") }}
            {{form.security_question(class="form-control my-2",placeholder="Email")}}
          </div>
          <div class="mb-3">
            {{ form.security_answer.label(class="form-label font-weight-bold text-uppercase ") }}
            {{form.security_answer(class="form-control my-2",placeholder="Your answer")}}
          </div>
          <div class="mb-3">
            {{ form.password_hash.label(class="form-label font-weight-bold text-uppercase") }}
            {{form.password_hash(class="form-control")}}
          </div>
          <br>
          <center>
            {{form.submit(class="btn btn-primary" )}}
        </center>
        </form>
      </div>
    
  </div>
</div>



<script>
  // jquery to close flash message in 2 seconds
  $(document).ready(function(){
    setTimeout(function(){
      $('#auto-fade').fadeOut('slow');
    }, 2000);
  });
</script>



{% endblock %}
